<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>test</title>
		<script src="/jquery/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/jquery-mobile/jquery.mobile-1.4.2.min.css" />
		<script src="/jquery-mobile/jquery.mobile-1.4.2.min.js"></script>
		<script src="/ejs/ejs.min.js"></script>
		<script src="/javascripts/index.js"></script>
		<script>
(function($) {
  $("#list").listview("refresh");
})(jQuery);
		</script>
	</head>
	<body>
		<div id="home" data-role="page">
			<div data-role="header">
				<h1>pi_IoT</h1>
			</div>
			<div data-role="content">
				<ul data-role="listview" data-inset="true" id="list">
				</ul>
			</div>
		</div>
	</body>
</html>
