<div id="<%= deviceid %>" data-role="page">
	<div data-role="header">
		<a href="#home" data-role="button" data-icon="home" data-iconpos="notext">home</a>
		<h1>制御ページ</h1>
	</div>
	<div data-role="content">
		<h1><%= devicename %></h1>
		<p>制御できるものはありません</p>
	</div>
</div>
