<div id="<%= deviceid %>" data-role="page">
	<div data-role="header">
		<a href="#home" data-role="button" data-icon="home" data-iconpos="notext">home</a>
		<h1>制御ページ</h1>
	</div>
	<div data-role="content">
		<h1><%= devicename %></h1>
		<p><%= devicename %>は<span class="status"></span>です</p>
		<div style="border:solid 1px"></div>
		<div>
			<button class="on">ON</button>
			<button class="off">OFF</button>
		</div>
	</div>
</div>
